.player-name-input {
  margin-bottom: 10px;
}

.player-name-input__editor {
  padding: 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #757575;
  background: none;
}

.player-name-input__editor:focus {
  outline: none;
}
